.card {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 220px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #bad6eb;
  cursor: pointer;

  transition: transform var(--animation-duration);
  transform-style: preserve-3d;
}

.card img {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 5px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/* Рубашка */

.card::after {
  grid-area: 1 / 1 / 2 / 2;
  content: '';
  width: 218px;
  height: 158px;
  background-image: url('../../img/back-cats.svg');
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden;
}

/* Финальная отметка */

.card::before {
  content: '';
  grid-area: 1 / 1 / 2 / 2;
  width: 204px;
  height: 144px;
  border-radius: 5px;
  background-color: rgba(140, 174, 200, 0.6);
  background-image: url('../../img/check.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition-property: opacity;
  z-index: 1;
}

.card:not(.card-show):not(.card-finished):hover {
  box-shadow: 0 6px 16px rgba(140, 174, 200, 0.6);
  transform: rotateY(10deg);
  transition-duration: .2s;
  transition-delay: 0;
}

.card-show,
.card-finished {
  transform: rotateY(180deg);
  cursor: default;
}

.card-finished::before {
  opacity: 1;
  transition-delay: var(--animation-duration);
  transition-duration: var(--animation-duration);
  transition-timing-function: ease-in-out;
}
